---
import "../styles/header.css";
import MenuIcon from "@/icons/MenuIcon.astro";

const pages = [
  "Home",
  "Experience",
  "Projects",
  "Education",
  "Skills",
  "About",
  "Contact",
];
---

<header>
  <a href='/'>Eduardo Velasco</a>
  <nav>
    {pages.map((page) => <a href={`/#${page.toLowerCase()}`}>{page}</a>)}
    <div class='splash'></div>
  </nav>
  <a
    id='hamburguer'
    class='h-[60%]'
    role='button'
    aria-expanded='false'
    aria-controls='menu'
  >
    <MenuIcon />
  </a>
</header>
<script>
  //Highliht the active section in the nav
  const $navAElements: Element[] = [
    ...document.querySelectorAll("header nav a"),
  ];

  window.addEventListener("scroll", () => {
    $navAElements.forEach((a) => {
      const selectionForSection = a.getAttribute("href")?.substring(1);
      const sectionElement: HTMLDivElement | null = document.querySelector(
        selectionForSection || ""
      );

      if (!sectionElement) return;
      const selectionTop = sectionElement.offsetTop - 150;
      if (window.scrollY <= selectionTop) return;
      $navAElements.forEach((aToRemove) =>
        aToRemove.classList.remove("active")
      );
      a.classList.add("active");
    });
  });

  function switchNavVisibility(nav: HTMLElement, menuIcon: HTMLElement) {
    nav.classList.toggle("open");
    menuIcon.classList.toggle("open");
  }

  function activeMobileMenuIconActions() {
    const nav: HTMLElement = document.querySelector("nav") as HTMLElement;
    const menuIcon: HTMLElement = document.querySelector(
      "#hamburguer"
    ) as HTMLElement;
    menuIcon.setAttribute("aria-expanded", String(nav.hidden));
    switchNavVisibility(nav, menuIcon);
  }

  function activeMobileNavLinkActions() {
    const nav: HTMLElement = document.querySelector("nav") as HTMLElement;
    const menuIcon: HTMLElement = document.querySelector(
      "#hamburguer"
    ) as HTMLElement;
    menuIcon.setAttribute("aria-expanded", String(false));
    switchNavVisibility(nav, menuIcon);
  }

  function toggleMobileNav() {
    const navLinks: NodeListOf<Element> =
      document.querySelectorAll("header nav a");
    const menuIcon: HTMLElement = document.querySelector(
      "#hamburguer"
    ) as HTMLElement;
    const nav: HTMLElement = document.querySelector("nav") as HTMLElement;

    if (window.innerWidth <= 768) {
      menuIcon.classList.remove("open");
      nav.classList.remove("open");
      menuIcon.addEventListener("click", activeMobileMenuIconActions);

      navLinks.forEach((link) => {
        link.addEventListener("click", activeMobileNavLinkActions);
      });
    } else {
      menuIcon.removeEventListener("click", activeMobileMenuIconActions);
      navLinks.forEach((link) => {
        link.removeEventListener("click", activeMobileNavLinkActions);
      });
    }
  }

  toggleMobileNav();
  window.addEventListener("resize", toggleMobileNav);
</script>
